

/* Start:/local/templates/webit/components/bitrix/breadcrumb/.default/style.min.css?1585214079467*/
.bx-breadcrumb{margin:10px 0}.bx-breadcrumb i{color:#b5bdc2;line-height:13px;font-size:12px;vertical-align:middle;margin-right:5px}.bx-breadcrumb .bx-breadcrumb-item{float:left;margin-bottom:10px;white-space:nowrap;line-height:13px;vertical-align:middle;margin-right:10px}.bx-breadcrumb .bx-breadcrumb-item span{font-family:"Open Sans",Arial,"Helvetica Neue",Helvetica,sans-serif;font-size:13px;white-space:normal}.bx-breadcrumb .bx-breadcrumb-item a{border-bottom:0}
/* End */


/* Start:/local/templates/webit/components/bitrix/form.result.new/glad_to_meet/style.css?1517815477666*/
table.form-table
{
	width:100%;
	background-color:white;
	border-collapse:collapse;
	font-size:100%;
	font-weight:normal;
	line-height:160%;
}

table.form-table th, table.form-table td
{
	border:1px solid #ADC3D5;
	padding: 5px 5px;
	vertical-align:top;
}

table.form-table th
{
	background-image:url(../../../../../../local/templates/webit/components/bitrix/form.result.new/glad_to_meet/images/table_head.gif);
	background-repeat:repeat-x;
	text-align: left;
	color:#25639A;
}


table.form-table td
{
	padding: 15px 5px;
}

.form-required 
{
	color: red;
}

.error-fld {
	display: block;
	float: left;
	height: 13px;
	width: 15px;
	background-repeat: no-repeat;
	background-image: url(../../../../../../local/templates/webit/components/bitrix/form.result.new/glad_to_meet/images/icon_warn.gif);
}
/* End */
/* /local/templates/webit/components/bitrix/breadcrumb/.default/style.min.css?1585214079467 */
/* /local/templates/webit/components/bitrix/form.result.new/glad_to_meet/style.css?1517815477666 */
