@font-face {
    font-family: 'Verdana';
    font-weight: 400;
    font-display: swap;
    src: url('/local/templates/webit/fonts/Verdana/Verdana.eot?') format('eot'),
      url('/local/templates/webit/fonts/Verdana/Verdana.woff') format('woff'),
      url('/local/templates/webit/fonts/Verdana/Verdana.ttf') format('truetype'),
      url('/local/templates/webit/fonts/Verdana/Verdana.svg#Verdana') format('svg');
  }
  
  @font-face {
    font-family: 'Verdana';
    font-weight: 700;
    font-display: swap;
    src: url('/local/templates/webit/fonts/Verdana/Verdana-Bold.eot?') format('eot'),
      url('/local/templates/webit/fonts/Verdana/Verdana-Bold.woff') format('woff'),
      url('/local/templates/webit/fonts/Verdana/Verdana-Bold.ttf') format('truetype'),
      url('/local/templates/webit/fonts/Verdana/Verdana-Bold.svg#Verdana') format('svg');
  }
  
  .apteka-a-mega section,
  .apteka-a-mega h2 {
    font-family: 'Verdana', sans-serif;
  }
  
  .apteka-a-mega * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .apteka-a-mega {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  .apteka-a-mega .container {
    width: 100%;
    padding: 0 64px;
    margin: 0 auto;
  }

  .apteka-a-mega__top-slider {
    position: absolute;
    left: 40px;
    top: 0;
    right: 40px;
    z-index: 1;
    height: 540px;
  }

  .container .site-link {
    cursor: pointer;
    font-size: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.65);
    color: #fff;
  }

  .apteka-a-mega .owl-prev, .apteka-a-mega .owl-next {
    background-image: url('../../../../images/arrow-w.png');
}
  
  .container .site-link:hover {
    color: #fff;
  }

  @media only screen and (min-width: 1570px) {
    .apteka-a-mega .container {
      max-width: 1568px;
    }
  }
  .section__number-block {
	padding-left: calc(50% - 30px);
	position: relative;
	margin-bottom: 50px;
  }
  .section__number-block h2 {
    position: static;
    color: #000;
    text-align: left;
    font-size: 19px;
    font-weight: 700;
    line-height: 23px;
    margin: 0 0 30px 0;
  }
  .section__number-block p{
	color: #050505;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    width: 100%;
    max-width: 540px;
  }
  .section__number-block h2:before {
display: inline-block;
    position: absolute;
    content: attr(data-num);
    font-weight: 700;
    font-size: 101px;
    color: #fff;
    top: 27px;
    left: 0;
  }
  
  .section__number-block--dark h2,
  .section__number-block--dark p  {
    color: #fff;
  }
  .section__number-block--dark h2:before {
    color: #5c9e3b;
  }
  
  .section__number-block--normal-dist h2:before {
    top: 27px;
  }
  
  .preview-section--apteka-a-mega {
    position: relative;
    color: #fff;
    background: #62a740;
    text-align: center;
    padding-top: 215px;
  }
  .preview-section--apteka-a-mega h2 {
    width: 100%;
    font-size: 101px;
    font-weight: 700;
  }
  .preview-section--apteka-a-mega h1 {
    width: 100%;
    font-size: 101px;
    font-weight: 700;
	font-family: 'Verdana', sans-serif;
  }
  
  .preview-section__img {
    padding-top: 112px;
    position: relative;
    margin-left: -130px;
    width: calc(100% + 260px);
  }
  .preview-section__img-decor {
    position: absolute;
    top: 73px;
    left: -182px;
    width: 112%;
  }
  .preview-section__img-tablet {
    position: relative;
    z-index: 1;
    margin-bottom: -155px;
  }
  
  .preview-section__description {
    width: 100%;
    max-width: 910px;
    margin: 0 auto;
    position: relative;
    z-index: 50;
  }
  
  .preview-section__caption-description {
    font-size: 18px;
    line-height: 32px;
    padding-top: 20px;
  }
  
  .preview-section__decor-circle {
    position: absolute;
    background-color: #ed1c24;
    border-radius: 50%;
  }
  .preview-section__decor-circle--small {
    width: 82px;
    height: 82px;
    right: -48px;
    top: 158px;
  }
  .preview-section__decor-circle--big {
    width: 177px;
    height: 177px;
    right: 55px;
    top: 295px;
  }
  
  .fonts-section {
    background: #f4f4f4;
    padding-top: 300px;
    padding-bottom: 106px;
  }
  .fonts-section__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 38px;
  }
  .fonts-section__font-name {
    font-size: 97px;
    font-weight: 700;
    line-height: normal;
    padding-top: 8px;
  }
  .fonts-section__font-example {
    letter-spacing: 1.3px;
    padding-top: 29px;
  }
  .fonts-section__color {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding-left: 180px;
  }
  .fonts-section__color-item {
    text-align: center;
    padding: 0 25px;
  }
  .fonts-section__color-example {
    display: inline-block;
    position: relative;
    border-radius: 50%;
    width: 141px;
    height: 141px;
  }
  .fonts-section__color-example--red {
    background-color: #ed1c24;
  }
  .fonts-section__color-example--green {
    background-color: #68af45;
  }
  .fonts-section__color-example--light-green {
    background-color: #b7dfa9;
  }
  .fonts-section__color-example:before {
    display: block;
    position: absolute;
    content: '';
    width: 142px;
    border-bottom: 9px solid #f4f4f4;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    top: 64px;
    left: -2px;
  }
  .fonts-section__color-hex {
    font-size: 19px;
    font-weight: 700;
    padding-top: 19px;
  }
  
  .main-section {
    background: rgba(98, 167, 64, 0.9) url('../../../../images/portfolio/cases/apteka-amega/product-card__bg.jpg') 50% 50%
      no-repeat;
    background-size: cover;
    padding-top: 84px;
  }
  .main-section .section__number-block {
	    margin-bottom: 164px;
  }
  .main-section__img-main {
    position: relative;
    left: -275px;
    top: -94px;
    margin-bottom: -63px;
  }
  
  .product-card-section {
    padding: 110px 0;
    background-color: #f4f4f4;
  }
  .product-card-section .section__number-block {
	margin-top: 110px;
	margin-bottom: 130px;
  }
  .product-card-section__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .product-card-section__img {
    position: relative;
    left: -10px;
    width: calc(100% + 20px);
  }
  .product-card-section__number-block {
    padding-top: 0;
  }
  .product-card-section .device-type__img {
    max-width: 100%;
  }
  
  .product-page-section {
    background-color: #f4f4f4;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .product-page-section .section__number-block {
	margin-bottom: 100px;
  }
  .product-page-section__number-block h2 {
    color: #000;
  }
  .product-page-section .section__number-block p{
	color: #050505;
  }
  .product-page-section__img {
    position: relative;
    text-align: center;
  }
  .product-page-section__img-desctop {
    position: relative;
    z-index: 5;
    left: -5px;
    top: -39px;
  }
  .product-page-section__img-decor {
    position: absolute;
    top: -271px;
    left: 353px;
  }
  .product-page-section .device-type__img {
    padding-top: 346px;
    display: block;
  }
  
  .tablet-section {
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#f4f4f4),
      color-stop(50%, #f4f4f4),
      to(rgba(98, 167, 64, 0.92))
    );
    background-image: linear-gradient(
      180deg,
      #f4f4f4 0%,
      #f4f4f4 50%,
      rgba(98, 167, 64, 0.92) 100%
    );
    padding-top: 100px;
  }
  .tablet-section .section__number-block {
    margin-bottom: 0;
  }
  .tablet-section .section__number-block p{
	max-width: 600px;
  }
  .tablet-section__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 146px;
  }
  .tablet-section__img-tablet {
    position: relative;
    left: -62px;
    margin-bottom: -413px;
    top: -46px;
  }
  
  .mobile-section {
    padding-top: 330px;
    background: url('../../../../images/portfolio/cases/apteka-amega/mobile-section__bg.jpg') right -354px top -90px
      no-repeat;
    padding-bottom: 69px;
  }
  .mobile-section .section__number-block {
	padding-left: 31%;
    margin-bottom: 130px;
  }
  .mobile-section__number-block h2 {
    color: #000;
  }
  .section__number-block--normal-dist h2:before{
	top: 50px;
  }
  .mobile-section__number-block p {
    color: #050505;
	max-width: 550px;
  }
  .mobile-section__decor-wrapper {
    position: absolute;
    overflow: hidden;
    width: 750px;
    height: 650px;
  }
  .mobile-section__img {
    position: relative;
  }
  .mobile-section__img-mobile {
    position: relative;
    left: -241px;
    top: -126px;
  }
  .mobile-section__img-circle {
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    background-color: #68af45;
    width: 141px;
    height: 141px;
    right: -20px;
    bottom: 237px;
  }
  .mobile-section__img-circle:before {
    display: block;
    position: absolute;
    content: '';
    width: 142px;
    border-bottom: 9px solid #fff;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    top: 64px;
    left: -2px;
  }
  .mobile-section__img-decor {
    position: absolute;
  }
  .mobile-section .webit-logo {
    text-align: center;
    margin-top: -85px;
  }
  
  @media (max-width: 1719px) {
    .preview-section__img {
      width: auto;
      margin: 0;
    }
    .preview-section__img-decor {
      top: 256px;
      left: -140px;
    }
    .main-section__img-main {
      left: -93px;
      width: 112%;
    }
    .mobile-section__img-mobile {
      width: 110%;
      left: -60px;
    }
    .mobile-section {
      background-position: right -258px top -28px;
      background-size: 70%;
    }
  }
  
  @media (max-width: 1500px) {
    .fonts-section__color {
      padding-left: 0;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
    }
    .main-section__img-main {
      width: 114%;
      top: -50px;
    }
    .product-page-section__img-decor {
      top: -186px;
      left: 353px;
      width: 75%;
    }
    .mobile-section {
      background-position: right -224px top 60px;
    }
  }
  
  @media (min-width: 1281px) {
    .preview-section__img-tablet {
      max-width: 100%;
    }
  }
  
  @media (max-width: 1280px) {
    .apteka-a-mega__top-slider {
      height: 295px;
    }

    .section__number-block h2 {
      font-size: 19px;
    }
    .section__number-block h2:before {
      font-size: 67px;
      top: 0px;
    }
    .apteka-a-mega .container {
      width: 100%;
      max-width: 843px;
      padding: 0 46px;
    }
    .fonts-section {
      padding-bottom: 64px;
      padding-top: 130px;
    }
    .fonts-section__font {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
    .fonts-section__font-example {
      padding-top: 0;
      margin-bottom: 0;
      line-height: 25px;
      letter-spacing: 1.14px;
      font-size: 14px;
      padding-left: 67px;
    }
    .fonts-section__font-name {
      font-size: 51px;
      padding-top: 0;
      margin-bottom: 0;
    }
    .fonts-section__content {
      padding-top: 0;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
	.fonts-section .section__number-block {
      padding-left: 200px;
	}
    .fonts-section .section__number-block h2 {
      margin-bottom: 25px;
    }
    .fonts-section__color {
      max-width: 666px;
      width: 100%;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding-top: 55px;
      padding-left: 10px;
    }
    .fonts-section__color-item {
      padding: 0;
    }
    .preview-section--apteka-a-mega {
      padding-top: 90px;
    }
    .preview-section h2 {
      font-size: 40px;
      margin-bottom: 20px;
    }
    .preview-section__caption-description {
      font-size: 14px;
      line-height: 26px;
      padding-top: 0;
      width: 550px;
      margin-left: auto;
      margin-right: auto;
    }
    .preview-section__img {
      width: 715px;
      max-width: 100%;
      padding-top: 36px;
      margin: 0 auto;
    }
    .preview-section__img-tablet {
      max-width: calc(100% + 38px);
      margin: 0 -19px -27px -19px;
    }
    .preview-section__img-decor {
      top: 46px;
      width: 801px;
      left: 50%;
      margin-left: -418px;
    }
    .preview-section__decor-circle--small {
      top: 46px;
      right: 30px;
      width: 43px;
      height: 43px;
    }
    .preview-section__decor-circle--big {
      width: 94px;
      height: 94px;
      top: 119px;
      right: 85px;
    }
    .main-section {
      padding-top: 60px;
      padding-bottom: 43px;
    }
	.main-section .section__number-block{
		padding-left: 200px;
		margin-bottom: 90px;
	}
    .main-section__img-main {
      width: 1218px;
      top: -39px;
      left: -270px;
    }
    .product-card-section {
      padding: 45px 0;
    }
    .product-card-section__list {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 0 -44px;
    }
    .product-card-section__item {
      width: 240px;
      margin-bottom: 20px;
    }
    .product-card-section__item--big {
      width: 356px;
      margin-left: 30px;
      margin-bottom: 20px;
    }
    .product-card-section__number-block {
      padding-top: 149px;
    }
    .product-card-section__img {
      top: -86px;
    }
    .product-page-section {
      padding-top: 21px;
    }
    .product-page-section__img-desctop {
      left: 106px;
      top: 9px;
    }
    .product-page-section__img-desctop {
      left: 106px;
      top: 9px;
    }
    .product-page-section__img-decor {
      width: 875px;
      top: -125px;
      left: 48px;
    }
    .product-page-section .device-type__img {
      width: auto;
      padding-top: 197px;
    }
    .tablet-section {
      padding-top: 69px;
    }
    .tablet-section__img-tablet {
      margin-bottom: -730px;
      left: -342px;
    }
    .section__number-block h2:before {
      top: 50px;
    }
	.product-card-section .section__number-block {
		margin-top: 90px;
		margin-bottom: 130px;
	}
	.product-card-section__number-block{
	    padding-top: 0;
		padding-left: 200px;
	}
	.product-page-section .section__number-block {
		padding-left: 200px;
	}
	.tablet-section {
		padding-top: 0;
	}
	.tablet-section .section__number-block{
		padding-left: 200px;
	}
    .mobile-section {
      padding-top: 714px;
      background-position: -290px 165px;
      background-size: 880px;
    }
    .mobile-section .section__number-block h2 {
      padding-left: 0;
    }
    .mobile-section .section__number-block h2:before {
      top: -91px;
	  left: 200px;
    }
    .mobile-section__img-mobile {
      width: 1744px;
      left: -583px;
      top: -178px;
    }
    .mobile-section__img-circle {
      overflow: hidden;
      width: 112px;
      height: 112px;
      right: 49px;
      bottom: 259px;
    }
    .mobile-section__img-circle:before {
      width: 140px;
      top: 45px;
      left: -6px;
    }
    .mobile-section .webit-logo {
      width: 519px;
      margin-left: -116px;
      margin-top: -197px;
    }
    .mobile-section .webit-logo img {
      max-width: 100%;
    }
  }
  
  @media (max-width: 767.98px) {
    .apteka-a-mega .owl-prev, .apteka-a-mega .owl-next {
      display: block !important;
      width: 14px;
      height: 25px;
      background-size: 100% 100%;
      bottom: 20px;
      top: auto;
    }

    .apteka-a-mega__top-slider {
      height: 340px;
    }

    .apteka-a-mega .owl-next {
      left: 40px;
      right: -20px;
      background-size: 14px 25px;
      width: auto;
    }
    .apteka-a-mega .owl-next:after {
      width: 146px;
      left: auto;
      left: 50%;
      margin-left: -44px;
      text-align: center;
      content: 'Следующий';
      position: absolute;
      font-size: 16px;
      color: #fff;
      border-bottom: 1px dashed #fff;
      top: 1px;
      right: -185px;
      text-indent: 0;
      white-space: nowrap;
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg);
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
    }

    .apteka-a-mega .container {
      padding: 0 30px;
    }
    .preview-section h2 {
      font-size: 28px;
      margin-bottom: 11px;
    }
    .preview-section__caption-description {
      font-size: 12px;
      line-height: 24px;
      width: 100%;
    }
    .preview-section--apteka-a-mega {
      padding-top: 49px;
    }
    .preview-section__img {
      padding-top: 14px;
    }
    .preview-section__img-tablet {
      margin: 0 -30px -27px -30px;
      max-width: calc(100% + 60px);
      width: calc(100% + 60px);
      margin-top: 100px;
    }

    .preview-section__img-decor {
      left: 0;
      margin-left: 0;
      width: auto;
      top: 61px;
      width: 95%;
    }
    .preview-section__decor-circle--small {
      top: 30px;
      right: 12px;
      width: 18px;
      height: 18px;
    }
    .preview-section__decor-circle--big {
      width: 39px;
      height: 39px;
      top: 61px;
      right: 36px;
    }
    .section__number-block h2 {
      font-size: 10px;
    }
    .section__number-block h2:before {
      font-size: 25px;
      top: -60px;
    }
    .fonts-section {
      padding-top: 94px;
      padding-bottom: 17px;
    }
	.section__number-block {
		padding-left: 0!important;
	}
	.section__number-block h2 {
		font-size: 19px;
		line-height: 23px;
	}
	.section__number-block h2:after {
		font-size: 25px;
	}
	.section__number-block p {
		font-size: 14px;
		line-height: 17px;
	}
    .fonts-section .section__number-block h2 {
      margin-bottom: 20px;
    }
    .fonts-section .section__number-block h2:before {
      top: -50px;
    }
    .product-card-section .section__number-block h2 {
	  margin-bottom: 30px;
    }
    .product-card-section .section__number-block {
      margin-bottom: 10px;
	  margin-top: 40px;
    }
	.product-card-section .section__number-block h2:before {
		top: 0px;
	}
    .fonts-section__font {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    .fonts-section__font-name {
      font-size: 30px;
      width: 100%;
    }
    .fonts-section__font-example {
      font-size: 10px;
      padding-left: 0;
      letter-spacing: 0.81px;
      line-height: 20px;
      padding-top: 18px;
    }
    .fonts-section__color {
      padding-top: 46px;
      padding-left: 0;
    }
    .fonts-section__color-example {
      width: 71px;
      height: 71px;
    }
    .fonts-section__color-example:before {
      width: 96px;
      top: 32px;
      left: -16px;
    }
    .fonts-section__color-hex {
      font-size: 9px;
      padding-top: 11px;
    }
    .main-section {
      padding-top: 90px;
    }
	.main-section .section__number-block h2:before {
	    top: -50px;
	}
    .main-section__img-main {
      width: 569px;
      top: -37px;
      left: -139px;
    }
    .product-card-section {
      padding-top: 40px;
      padding-bottom: 18px;
    }
    .product-card-section__number-block {
      padding-top: 50px;
      padding-left: 8px;
	  margin-top: 50px;
    }
    .product-card-section__img {
      top: 0;
    }
    .product-card-section .device-type__img {
      max-width: none;
      margin: 0 -5px;
    }
    .product-page-section {
      padding-bottom: 12px;
    }
	.product-page-section .section__number-block h2:before{
		top: -50px;
	}
    .product-page-section__img-decor {
      width: 100%;
      top: -64px;
      left: 36px;
    }
    .product-page-section__img-desctop {
      width: 130%;
      left: 58px;
      top: -26px;
    }
    .product-page-section .device-type__img {
      margin: 0 -5px;
      padding-top: 140px;
    }
	.tablet-section {
	    padding-top: 85px;
	}
    .tablet-section__img-tablet {
      top: -38px;
      left: -152px;
      margin-bottom: -321px;
    }
    .mobile-section {
      padding-top: 367px;
      background-position: -85px 82px;
      background-size: 324px;
    }
    .mobile-section .section__number-block {
 
    }
	.mobile-section .section__number-block h2:before{
		top: -60px;
		left:0;
	}
    .mobile-section__img-circle {
      display: none;
    }
    .mobile-section .webit-logo {
      width: 80%;
      margin-left: -27px;
      margin-top: -82px;
    }
    .main-section__img-main {
      width: 150%;
    }
  }
  
  @media (max-width: 550.98px) {
    .product-card-section__list {
      display: block;
      overflow: hidden;
      height: 830px;
      margin: 0 -64px;
    }
    .product-card-section__img {
      width: auto;
      left: 50%;
      margin-left: -165px;
    }
    .preview-section__img-decor {
      left: -76px;
      width: auto;
    }
    .main-section__img-main {
      width: 569px;
    }
    .product-page-section .device-type__img {
      padding-top: 68px;
    }

  }
  