@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaRegular.eot');
  src: url('../fonts/HelveticaRegular-1.eot') format('embedded-opentype'),
    url('../fonts/HelveticaRegular.woff') format('woff'),
    url('../fonts/HelveticaRegular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaBold.eot');
  src: url('../fonts/HelveticaBold-1.eot') format('embedded-opentype'),
    url('../fonts/HelveticaBold.woff') format('woff'),
    url('../fonts/HelveticaBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
  font-display: wrap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('/local/templates/webit/fonts/Gilroy-Regular.eot');
  src: url('/local/templates/webit/fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
  url('/local/templates/webit/fonts/Gilroy-Regular.woff') format('woff'),
  url('/local/templates/webit/fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
  }
@font-face {
  font-family: 'Gilroy';
  src: url('/local/templates/webit/fonts/Gilroy-SemiBold.eot');
  src: url('/local/templates/webit/fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('/local/templates/webit/fonts/Gilroy-SemiBold.woff') format('woff'),
  url('/local/templates/webit/fonts/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: wrap;
  }
main,
main * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: 400;
}

.masterfon__wrapper {
 width: 1400px;
 margin: 0 auto;
}
.masterfon__full {
  width: 100%;
  overflow: hidden;
}
.mrfone-pr {
  position: relative;
}
/* landing-block */
.masterfon__landing {
  background-image: -o-linear-gradient(14deg, #deeaf4 0%, #f5f7f8 100%);
  background-image: linear-gradient(76deg, #deeaf4 0%, #f5f7f8 100%);
  position: relative;
}
.masterfon__landing-text  {
  max-width: 650px;
  margin: 0 auto;
  padding: 50px 0 0;
  margin-bottom: 55px;
  text-align: center;
  margin-bottom: 58px;
  position: relative;
  z-index: 100;
}
.masterfon__landing-subtitle {
  color: #141414;
  font-family: 'ProximaNova-Extrabld',sans-serif;
  font-size: 18px;
  line-height: 1;
}
.masterfon__landing-subtitle--blue {
  color: #2ec5eb;
}
.masterfon__landing-title {
  color: #1a1f28;
  font-size: 48px;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 12px;
}
.masterfon__landing-desc {
  color: #1a1f28;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 22px;
  margin: 0;
}
.masterfon__landing-image {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 87px;
  padding-left: 63px;
}
.masterfon__landing-mac-pic {
  position: relative;
  z-index: 100;
}
.masterfon__landing-rhomb {
  position: absolute;
  bottom: 18px;
  right: -50px;
  width: 782px;
  height: 794px;
  z-index: 1;
}
.masterfon__landing-text-back {
  display: block;
  position: absolute;
  bottom: 63px;
  left: -5px;
  color: #cfe2ee;
  font-family: 'Gilroy',sans-serif;
  font-size: 280px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 40px;
  text-transform: uppercase;
  z-index: 50;
}
.masterfon__landing-inst {
  width: 100%;
  position: relative;
}
.landing-inst__text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 51px;
}
.landing-inst__text-left,
.landing-inst__text-right {
  width: 295px;
  color: #232121;
}
.landing-inst__text-left {
  margin-right: 186px;
  margin-left: 236px;
}
.landing-inst__text-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 33px;
  line-height: 1;
}
.landing-inst__text-def {
  font-size: 18px;
  line-height: 1.2;
}
.landing-inst__image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 32px;
  padding-right: 10px;
}
.landing-inst__tab-pic {
  position: relative;
  z-index: 100;
}
.landing-inst__bg-text {
  display: block;
  position: absolute;
  bottom: 301px;
  right: -316px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: #cde0ec;
  font-family: 'Gilroy', sans-serif;
  font-size: 280px;
  line-height: 1;
  letter-spacing: 40px;
  text-transform: uppercase;
  z-index: 10;
}
.masterfon__landing-bg {
  display: block;
  position: absolute;
}
.masterfon__landing-bg--left {
  width: 1060px;
  height: 1078px;
  bottom: 30px;
  left: 50px;
}
.masterfon__landing-bg--right {
  width: 1059px;
  height: 1077px;
  bottom: -660px;
  right: -275px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  z-index: 1;
}
.masterfon__landing-bg-small {
  width: 85px;
  height: 87px;
  bottom: 645px;
  left: 165px;
}
.masterfon__landing-dimond-left {
  position: absolute;
  top: 150px;
  left: -70px;
  z-index: 100;
}
.masterfon__landing-dimond-right {
  position: absolute;
  top: 171px;
  right: 80px;
  z-index: 100;
}
.masterfon__bubble {
  position: absolute;
  top: 850px;
  right: -100px;
  z-index: 100;
}
/* landing-block */
/* services-block */

.masterfon__sevices {
  background-color: #042135;
  color: #ffffff;
  position: relative;
}
.mrfone-services__wrapper {
  padding-top: 75px;

}
.mrfone-services__text{
  max-width: 755px;
  margin: 0 auto;
  padding: 47px 0 0;
  text-align: center;
  margin-bottom: 48px;
  position: relative;
  z-index: 100;
}
.mrfone-services__subtitle {
  color: #77bccd;
  font-size: 16px;
  line-height: 1;
  font-weight: 300;
}
.mrfone-services__title {
  color: #ffffff;
  font-size: 48px;
  line-height: 1;
  font-weight: bold;
  margin-bottom: 23px;
  margin-top: 13px;
}
.mrfone-services__desc {
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 0;
  letter-spacing: 2px;
}
.mrfone-services__image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 146px;
  position: relative;
}
.mrfone-services__pic {
  width: 1173px;
  position: relative;
  z-index: 100;
}
.mrfone-services__rhomb {
  position: absolute;
  top: 30px;
  right: -150px;
  width: 782px;
  height: 794px;
  z-index: 1;
}
.mrfone-services__text-back {
  position: absolute;
  top: 500px;
  left: -600px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  opacity: 0.06;
  color: #d3e9ef;
  font-family: 'Gilroy',sans-serif;
  font-size: 280px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 35px;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
.mrfone-services__rhomb-empt {
  display: block;
  position: absolute;
  bottom: 74px;
  left: -30px;
  z-index: 10;
  opacity: 0.4;
  /* transform: rotate(-40deg); */
}
.mrfone-services__rmb-bot,
.mrfone-services__rmb-top {
  display: block;
  position: absolute;
  z-index: 150;
}
.mrfone-services__rmb-top {
  top: 45px;
  left: -125px;
}
.mrfone-services__rmb-bot {
  bottom: 388px;
  right: -106px;
}
/* services-block */
/* mobile-block */
.mrfone-mobile {
  background-image: -o-linear-gradient(53deg, #dee8f4 0%, #f5f7f8 100%);
  background-image: linear-gradient(37deg, #dee8f4 0%, #f5f7f8 100%);
}
.mrfone-mobile__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 126px 0 35px;
  position: relative;
}
.mrfone-mobile__text {
  padding-top: 164px;
  width: 50%;
  text-align: left;
  position: relative;
  z-index: 100;
}
.mrfone-mobile__rhmb-sm {
  display: block;
  position: absolute;
  top: 65px;
  left: 114px;
  z-index: 10;
}
.mrfone-mobile__image {
  width: 50%;
  text-align: left;
  position: relative;
  z-index: 100;
}
.mrfone-mobile__rhomb {
  display: block;
  position: absolute;
  top: -15px;
  right: -55px;
  z-index: 10;
}
.mrfone-mobile__pic {
  width: 789px;
  position: relative;
  z-index: 100;
}
.mrfone-mobile__subtitle {
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  color: #77bccd;
}
.mrfone-mobile__title {
max-width: 418px;
color: #1a1f28;
text-align: left;
line-height: 1.2;
font-size: 48px;
font-weight: 700;
margin-top: 15px;
margin-bottom: 26px;
}
.mrfone-mobile__desc {
max-width: 489px;
color: #191f29;
text-align: left;
font-size: 16px;
letter-spacing: 2px;
line-height: 22px;
}

.mrfone-mobile__text-back {
  display: block;
  position: absolute;
  bottom: 70px;
  left: 0;
  color: #d2e0ee;
  font-family: 'Gilroy', sans-serif;
  font-size: 150px;
  font-weight: 400;
  letter-spacing: 28px;
  text-transform: uppercase;
  line-height: 1;
}
/* mobile-block */
/* masterfon__group */
.masterfon__group {
  width: 100%;
  background-color: #042135;
  color: #ffffff;
  border-bottom: 1px solid rgba(59, 59, 59, 0.23);
}
/* masterfon__group */
/* devices-block */
.mrfone-devices {
  width: 100%;
  padding-top: 309px;
}
.mrfone-devices__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.mrfone-devices__text {
  width: 490px;
  text-align: right;
  justify-self: flex-end;
  margin-left: auto;
  position: relative;
  z-index: 50;
  padding-bottom: 255px;
}
.mrfone-devices__subtitle {
  color: #77bccd;
  font-size: 16px;
  font-weight: 300;
  text-align: right;
}
.mrfone-devices__title {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  text-align: right;
  margin-top: 15px;
  line-height: 1.2;
  margin-bottom: 26px;
}
.mrfone-devices__desc {
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 22px;
  text-align: right;
}
.mrfone-devices__image {
  width: 50%;
}
.mrfone-devices__pic {
  width: 100%;
  max-width: 1181px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: -100px;
  left: -280px;
  z-index: 100;
}
.mrfone-devices__bg-text {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.06;
  color: #d3e9ef;
  font-family: 'Gilroy',sans-serif;
  font-size: 150px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 22px;
  text-transform: uppercase;
  margin-bottom: 0;
}
.mrfone-devices__rhmb-bg {
  width: 906px;
  height: 898px;
  position: absolute;
  top: -2px;
  right: 169px;
  z-index: -1;
}
.mrfone-devices__rhmb-sml {
  position: absolute;
  top: -249px;
  right: 119px;
}
/* devices-block */
/* mrfone-gal */
.mrfone-gal {
  position: relative;
}
.mrfone-gal__top-line {
  width: 100%;
  position: relative;
  z-index: 100;
  text-align: right;
  padding-top: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mrfone-gal__tab-top {
  margin-left: -6px;
  margin-bottom: 160px;
}
.mrfone-gal__phone-price {
  display: block;
  position: absolute;
  bottom: 0;
  right: 275px;
}
.mrfone-gal__phone-info {
  margin-top: -160px;
  margin-right: -66px;
}
.mrfone-gal__calendar {
  position: absolute;
  bottom: -212px;
  left: 108px;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 327px;
  height: 272px;
  max-height: 272px;
  background-image: url('../../../../images/develop/portfolio/masterfone/bg-calendar.png');
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 51px 40px 60px rgba(0, 0, 0, 0.14);
          box-shadow: 51px 40px 60px rgba(0, 0, 0, 0.14);
}
.mrfone-gal__calendar-title {
  font-size: 60px;
  font-weight: 500;
  line-height: 1.2;
  color: #263546;
  margin-bottom: 11px;
}
.mrfone-gal__calendar-text {
  font-size: 20px;
  font-weight: 500;
  color: #77bccd;
  margin-bottom: 0;
}
.mrfone-gal__rhomb-empt {
  position: absolute;
  bottom: -280px;
  left: -300px;
  opacity: 0.4;
  z-index: 0;
}
.mrfone-gal__rhomb-sml {
  position: absolute;
  right: 79px;
  bottom: 290px;
}
.mrfone-gal__bot-line {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 50;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 110px;
  padding-bottom: 90px;
}
.mrfone-gal__mob-bot {
  margin-left: 239px;
  padding-bottom: 85px;
  margin-right: 196px;
}
.mrfone-gal__rhmb-sml-bot {
  position: absolute;
  bottom: 145px;
  left: -9px;
}
.mrfone-gal__rt-text {
  position: absolute;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  bottom: 732px;
  left: -440px;
  opacity: 0.06;
  color: #d8d8d8;
  color: #d3e9ef;
  font-family: 'Gilroy',sans-serif;
  font-size: 150px;
  font-weight: 400;
  letter-spacing: 16.1px;
  text-transform: uppercase;
  line-height: 1;
}
.mrfone-gal__rhmb-bot-right {
  position: absolute;
  bottom: 150px;
  right: -290px;
  z-index: -1;
}
/* mrfone-gal */
/* mrfone-style */
.mrfone-style {
  width: 100%;
  background-color: #042135;
  border: 1px solid rgba(151, 151, 151,0.23);
}

.mrfone-style__text {
  max-width: 490px;
  text-align: left;
  position: relative;
  padding-top: 155px;
}
.mrfone-style__subtitle {
  color: #77bccd;
  font-size: 16px;
  font-weight: 300;
}
.mrfone-style__title {
  color: #ffffff;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 26px;
  text-align: left;
}
.mrfone-style__desc {
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 22px;
  margin-bottom: 105px;
}
.mrfone-style__bg-text {
  opacity: 0.06;
  color: #d3e9ef;
  font-family: 'Gilroy', sans-serif;
  font-size: 150px;
  line-height: 1.1;
  font-weight: 400;
  text-transform: uppercase;
}
.mrfone-style__rhomb-empt {
  position: absolute;
  top: 102px;
  right: -290px;
  opacity: 0.4;
}
.mrfone-style__rhomb {
  position: absolute;
  top: 103px;
  right: -130px;
}
/* mrfone-style */
/* masterfon__fonts */

.mrfone-style__fonts {
  color: #ffffff;
}
.mrfone-fonts__gilroy {
  width: 100%;
  padding-right: 160px;
}
.mrfone-fonts__title-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 20px;
}
.mrfone-fonts__title-block p {
  margin-bottom: 0;
  margin-top: 0;
}
.mrfone-fonts__title {
  position: relative;
  padding-left: 118px;
}
.mrfone-fonts__title-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 78px;
  height: 85px;
  background-image: url('../../../../images/develop/portfolio/masterfone/font-bg.svg');
  background-repeat: no-repeat;
  background-size: contain;
  color: #d3e9ef;
  font-family: 'Gilroy', sans-serif;
  font-size: 24px;
  padding-top: 6px;
  line-height: 1;
  font-weight: 400;
}
.mrfone-fonts__title-sub {
  color: #77bccd;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 0;
}
.mrfone-fonts__title-text {
  display: block;
  margin-top: 10px;
  color: #ffffff;
  font-size: 48px;
  line-height: 1;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 22px;
}
.mrfone-fonts__title-text.gilroy {
  font-family: 'Gilroy', sans-serif;
}
.mrfone-fonts__example {
  padding-right: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.mrfone-fonts__example-text {
  display: block;
  max-width: 419px;
  width: auto;
  text-align: left;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  padding-top: 27px;
  margin: 0;
}
.mrfone-fonts__helvetica .mrfone-fonts__example-text {
  max-width: 443px;
}
.mrfone-fonts__example-text.gilroy {
  font-family: 'Gilroy', sans-serif;
}
.mrfone-fonts__number {
  color: #ffffff;
  font-size: 18px;
  font-weight: normal;
  line-height: 52px;
}
.mrfone-fonts__number.gilroy {
  font-family: 'Gilroy', sans-serif;
  margin-bottom: -17px;
}
.mrfone-fonts__helvetica .mrfone-fonts__number {
  padding-bottom: 143px;
}
.mrfone-fonts__helvetica {
  margin-top: 152px;
  margin-bottom: 232px;
  padding-right: 160px;
}
.mrfone-fonts__palit {
  width: 100%;
  padding-bottom: 120px;
}
.mrfone-fonts__palit .mrfone-fonts__title-block {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.mrfone-fonts__colors {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-top: 17px;
}

.mrfone-fonts__colors-pic {
  width: 650px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.mrfone-fonts__colors-text {
  display: block;
  position: absolute;
  bottom: 182px;
  right: -80px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  opacity: 0.06;
  color: #d3e9ef;
  font-family: 'Gilroy',sans-serif;
  font-size: 150px;
  line-height: 1;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
}
.mrfone-fonts__rhmb-fonts {
  position: absolute;
  width: 809px;
  height: 899px;
  top: 192px;
  left: -275px;
  opacity: 0.36;
}
/* masterfon__fonts */
.masterfon__end {
  background-color: #042135;
}
.mrfone-end__wrapper {
  position: relative;
  padding-top: 145px;
  padding-bottom: 68px;
}
.mrfone-end__text {
  width: 100%;
  position: relative;
  z-index: 150;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

}
.mrfone-end__subtitle {
  color: #77bccd;
  font-size: 16px;
  line-height: 1;
  font-weight: 300;
  margin: 0;
}
.mrfone-end__title {
  max-width: 305px;
  color: #ffffff;
  font-size: 48px;
  line-height: 1.5;
  font-weight: 700;
  margin: 0;
}
.mrfone-end__image {
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 100;
}
.mrfone-end__pic {
  padding-left: 20px;
  padding-left: 75px;
  margin-top: -25px;
}
.mrfone-end__rhmb {
  position: absolute;
  top: 85px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 50;
}
.mrfone-end__webit{
  position: absolute;
  top: 52px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
}
.mrfone-end__right-hand {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
}
.mrfone-end__left-hand {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

/* Desctop */
@media (max-width: 1700px) {
  .mrfone-services__text-back {
    left: -535px;
  }
}
@media (max-width: 1670px) {
  .mrfone-devices__pic {
    left: -200px;
  }
  .mrfone-style__rhomb {
    right: -30px;
  }
}
@media (max-width: 1440px) {
  .masterfon__wrapper {
    width: 1280px;
  }
  .mrfone-devices__pic {
    left: -500px;
  }
}
/* Desctop */
/* Tab */
@media (max-width: 1440px) {
  .masterfon__wrapper {
    width: 690px;
  }
  .masterfon__landing-dimond-left,
  .masterfon__landing-dimond-right,
  .masterfon__bubble {
    display: none;
  }
  .masterfon__landing-mac-pic {
    width: 754px;
  }
  .masterfon__landing-text-back {
    font-size: 138px;
    letter-spacing: 19.71px;
  }
  .masterfon__landing-rhomb {
    width: 498px;
    height: 506px;
    right: -100px;
  }
  .landing-inst__text-left {
    margin-right:95px;
    margin-left:  3px;
  }
  .landing-inst__tab-pic {
    width: 110%;
  }
  .landing-inst__bg-text {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    color: #cde0ec;
    font-size: 190px;
    font-weight: 400;
    letter-spacing: 27.14px;
    bottom: 10px;
    right: -65px;
  }
  .masterfon__landing-bg--left {
    width: 860px;
    height: auto;
    bottom: -37px;
    left: -119px;
  }
  .masterfon__landing-bg-small {
    bottom: 50px;
    left: 50px;
  }
  .landing-inst__image {
    padding-bottom: 77px;
    margin-bottom: 0;
  }
  .mrfone-services__image {
    margin-bottom: 155px;
  }
  .mrfone-services__text {
    margin-bottom: 100px;
  }
  .mrfone-services__pic {
    width: 100%;
  }
  .mrfone-services__text-back {
    -webkit-transform: translateX(-50%) rotate(0deg);
        -ms-transform: translateX(-50%) rotate(0deg);
            transform: translateX(-50%) rotate(0deg);
    font-size: 180px;
    letter-spacing: 22.5px;
    top: auto;
    bottom: -102px;
    left: 50%;
  }
  .mrfone-services__rmb-bot {
    bottom: -136px;
    right: 99px;
  }
  .mrfone-mobile__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 76px;
    padding-bottom: 170px;
  }
  .mrfone-mobile__text{
    padding: 0;
    text-align: center;
    margin-bottom: 91px;
  }
  .mrfone-mobile__text,
  .mrfone-mobile__image {
    width: 100%;
  }
  .mrfone-mobile__title {
    max-width: 580px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 23px;

  }
  .mrfone-mobile__desc {
    max-width: 580px;
    margin: 0 auto;
    text-align: center;
  }
  .mrfone-mobile__rhomb {
    width: 789px;
    height: 789px;
    top: -23px;
    right: -65px;
  }
  .mrfone-mobile__rhmb-sm {
    top: 34px;
    left: -25px;
  }
  .mrfone-devices {
    padding: 0;
  }
  .mrfone-devices__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 80px;
  }
  .mrfone-devices__text {
    width: 100%;
    text-align: center;
    padding-bottom: 80px;
  }
  .mrfone-devices__title {
    max-width: 540px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 23px;
  }
  .mrfone-devices__desc  {
    text-align: center;
  }
  .mrfone-devices__title br {
    display: none;
  }
  .mrfone-devices__pic {
    position: relative;
    width: 110%;
    left: 0;
    top: 0;
  }
  .mrfone-devices__bg-text {
    right: 50%;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
    bottom: -600px;
  }
  .mrfone-gal__wrapper {
    padding-top: 0px;
  }
  .mrfone-gal__top-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0;
    margin-top: 186px;
  }
  .mrfone-gal__phone-price {
    bottom: auto;
    top: 345px;
    right: 287px;
  }
  .mrfone-gal__phone-info {
    margin-top: 0px;
    margin-right: -111px;
    margin-bottom: 320px;
  }
  .mrfone-gal__rhomb-sml {
    bottom: auto;
    top: 134px;
    right: auto;
    left: 182px;
  }
  .mrfone-devices__rhmb-bg {
    top: 140px;
  }
  .mrfone-gal__tab-top {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-left: auto;
    margin-right: -108px;
    margin-bottom: 207px;
  }
  .mrfone-gal__rhomb-empt {
    bottom: 1061px;
    left: auto;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    right: -560px;
  }
  .mrfone-gal__calendar {
    left: 46px;
    bottom: -123px;
  }
  .mrfone-gal__rt-text {
    top: -370px;
    bottom: auto;
    left: -430px;
  }
  .mrfone-gal__bot-line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mrfone-gal__bot-line {
    padding-top: 0;
    padding-bottom: 0;
  }
  .mrfone-gal__mob-bot {
    margin: 0;
    width: 210px;
    padding: 0;
    margin-bottom: 505px;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-right: 0;
  }
  .mrfone-gal__rhmb-bot-right {
    bottom: auto;
    top: -370px;
    -webkit-transform: rotate(390deg);
        -ms-transform: rotate(390deg);
            transform: rotate(390deg);
    right: -410px;
  }
  .mrfone-gal__tab-bot {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 508px;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .mrfone-gal__rhmb-sml-bot {
    position: absolute;
    bottom: 345px;
    left: auto;
    right: 45px;
  }
  .mrfone-style__rhomb,
  .mrfone-style__rhomb-empt {
    display: none;
  }
  .mrfone-style__text {
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding-top: 59px;
  }
  .mrfone-style__title {
    max-width: 419px;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 25px;
  }
  .mrfone-style__desc {
    max-width: 568px;
    margin: 0 auto;
  }
  .mrfone-fonts__title-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 98px;
  }
  .mrfone-fonts__title {
    margin-left: 167px;
  }
  .mrfone-fonts__helvetica .mrfone-fonts__number {
    padding-bottom: 0;
  }
  .mrfone-fonts__helvetica {
    padding-right: 0px;
    margin-top: 130px;
    margin-bottom: 128px;
  }
  .mrfone-fonts__gilroy {
    padding-right: 0;
  }
  p.mrfone-fonts__number {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-left: auto;
    margin-top: 100px;
    padding-right: 86px;
  }
  .mrfone-fonts__helvetica p.mrfone-fonts__number {
    margin-top: 143px;
    margin-bottom: 169px;
  }
  .mrfone-style__bg-text {
    position: absolute;
    top: 505px;
    left: 0;
  }
  .mrfone-fonts__example {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 85px;
  }
  .mrfone-fonts__colors {
    margin-top: 107px;
  }
  .mrfone-fonts__rhmb-fonts {
    width: 906px;
    top: 226px;
    left: auto;
    right: -450px;
  }
  .mrfone-fonts__colors-text {
    bottom: 460px;
    right: -200px;
  }
  .mrfone-end__webit {
    width: 654px;
  }
  .mrfone-end__pic {
    width: 388px;
    margin-top: 23px;
    padding-left: 0;
    margin-left: 75px;
  }
  .mrfone-end__rhmb {
    width: 410px;
    top: 240px;
  }
  .mrfone-end__left-hand {
    width: 228px;
  }
  .mrfone-end__right-hand {
    width: 193px;
    right: -10px;
  }
  .mrfone-services__rhomb-empt {
    bottom: 30px;
    left: -253px;
  }
  .mrfone-services__rhomb {
    top: 177px;
    right: -255px;
  }
  .mrfone-end__wrapper {
    padding-top: 105px;
  }
  
}
/* Tab */
/* Mobile */
@media(max-width: 767px) {
  .masterfon__wrapper {
    width: 100%;
    padding: 0 20px;
  }
  .masterfon__landing-title {
    font-size: 36px;
  }
  .masterfon__landing-desc {
    font-size: 14px;
    line-height: 22px;
  } 
  .masterfon__landing-image {
    padding-left: 0;
  }
  .masterfon__landing-mac-pic {
    width: 110%;
  }
  .masterfon__landing-text-back {
    font-size: 59px;
    font-weight: 400;
    letter-spacing: 8.43px;
  }
  .masterfon__landing-text-back {
    bottom: 15px;
  }
  .masterfon__landing-rhomb {
    width: 219px;
    height: auto;
    right: -41px;
    bottom: -5px;
  }
  .masterfon__landing-text {
    margin-bottom: 48px;
  }
  .masterfon__landing-bg--left {
    display: none;
  }
  .landing-inst__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .masterfon__landing-image {
    margin-bottom: 46px;
  }
  .landing-inst__text {
    margin-bottom: 4px;
  }
  .landing-inst__text-title {
    margin-bottom: 20px;
    font-size: 22px;
  }
  .landing-inst__text-def {
    font-size: 16px;
    margin-bottom: 40px;
  }
  .masterfon__landing-bg--right {
    width: 450px;
    height: auto;
    bottom: -35px;
    right: -88px;
    -webkit-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
            transform: rotate(5deg);
    z-index: 1;
  }
  .landing-inst__bg-text {
    font-size: 100px;
    font-weight: 400;
    letter-spacing: 14.29px;
    bottom: 60px;
    right: -9px;
  }
  .masterfon__landing-bg-small {
    width: 54px;
    height: 42px;
    bottom: 20px;
  }
  .landing-inst__image {
    padding-bottom: 100px;
  }
  .mrfone-services__rhomb-empt {
    display: none;
  }
  .mrfone-services__rhomb {
    width: auto;
    height: 589px;
    top: 366px;
    right: -260px;
  }
  .mrfone-services__rmb-top {
    width: 59px;
    height: 63px;
    top: -150px;
    left: 45px;
  }
  .mrfone-services__text {
    z-index: 200;
  }
  .mrfone-services__text-back {
    font-size: 71px;
    font-weight: 400;
    letter-spacing: 8.88px;
    -webkit-transform: translateX(0) rotate(0deg);
        -ms-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    bottom: -64px;
    left: 14px;
  }
  .mrfone-services__rmb-bot {
    width: 38px;
    height: 39px;
  }
  .mrfone-services__image {
    margin-bottom: 106px;
  }
  .mrfone-services__rmb-bot {
    bottom: -82px;
    right: 30px;
  }
  .mrfone-mobile__wrapper {
    padding-top: 45px;
  }
  .mrfone-mobile__rhmb-sm {
    width: 46px;
    height: 42px;
    top: 28px;
    left: 10px;
  }
  .mrfone-mobile__title {
    font-size: 32px;
    margin-bottom: 13px;
    margin-top: 15px;
  }
  .mrfone-mobile__desc {
    font-size: 14px;
    letter-spacing: 1.75px;
    line-height: 22px;
   }
   .mrfone-services__title {
    font-size: 32px;
   }
   .mrfone-mobile__pic {
     width: 115%;
   }
   .mrfone-mobile__text {
    margin-bottom: 75px;
   }
   .mrfone-mobile__text-back {
    font-size: 65px;
    font-weight: 400;
    letter-spacing: 12.13px;
    bottom: 33px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
   }
   .mrfone-mobile__image {
     padding-bottom: 137px;
   }
   .mrfone-mobile__rhomb {
    width: 381px;
    height: 375px;
    top: -30px;
   }
   .mrfone-devices__wrapper {
     padding-top: 40px;
   }
   .mrfone-devices__title {
    font-size: 32px;
    margin-top: 12px;
    margin-bottom: 13px;
   }
   .mrfone-devices__desc {
    font-size: 14px;
    letter-spacing: 1.75px;
    line-height: 22px;
   }
   .mrfone-devices__text {
     padding-bottom: 70px;
   }
   .mrfone-devices__bg-text {
      bottom: -250px;
      font-size: 55px;
      font-weight: 400;
      letter-spacing: 6.1px;
   }
   .mrfone-gal__top-line {
     margin-top: 106px;
   }



   /*  */
   .mrfone-gal__tab-top,
   .mrfone-gal__phone-price,
   .mrfone-gal__calendar,
   .mrfone-gal__tab-bot,
   .mrfone-gal__phone-info {
     position: static;
   }
   .mrfone-gal__top-line {
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
   }
   .smo-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
   }
   .smo-2 {
     -webkit-box-ordinal-group: 3;
         -ms-flex-order: 2;
             order: 2;
   }
   .smo-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
   }
   .smo-5 {
     -webkit-box-ordinal-group: 6;
         -ms-flex-order: 5;
             order: 5;
   }
   .smo-6 {
     -webkit-box-ordinal-group: 7;
         -ms-flex-order: 6;
             order: 6;
   }
   .mrfone-gal__phone-info {
     width: 300px;
     margin-right: -82px;
     margin-bottom: 70px;
   }
   .mrfone-gal__phone-price {
     width: 300px;
     margin-bottom: 0px;
   }
   .mrfone-gal__tab-top {
     width: 400px;
     margin-right: 0;
     margin-bottom: 70px;
   }
   .mrfone-gal__calendar {
     -webkit-box-ordinal-group: 5;
         -ms-flex-order: 4;
             order: 4;
     width: 204px;
     height: 131px;
     max-height: 131px;
     margin-bottom: 70px;
   }
   .mrfone-gal__calendar-title {
    font-size: 27px;
    font-weight: 500;
    margin-bottom: 6px;
   }
   .mrfone-gal__calendar-text  {
    font-size: 14px;
   }
   .mrfone-gal__mob-bot {
     margin-bottom: 60px;
   }
   .mrfone-gal__tab-bot {
    width: 390px;
    margin-left: 0;
    margin-bottom: 0px;
    margin-right: -56px;
   }
   .mrfone-gal__rhomb-sml {
    width: 37px;
    height: 39px;
    top: 34px;
    left: 44px;
   }
   .mrfone-gal__rhmb-sml-bot {
    bottom: 5px;
    right: 35px;
    z-index: -1;
    -webkit-transform: rotate(-85deg);
        -ms-transform: rotate(-85deg);
            transform: rotate(-85deg);
   }
   .mrfone-gal__rt-text {
     display: none;
   }
   .mrfone-gal__rhmb-bot-right {
    width: 600px;
    top: 71px;
    right: -239px;
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg);
   }
   .mrfone-style__text {
     padding-top: 45px;
   }
   .mrfone-style__title {
    font-size: 32px;
    margin-top: 11px;
    margin-bottom: 15px;
    
   }
   .mrfone-style__desc {
    font-size: 14px;
    letter-spacing: 1.75px;
    line-height: 22px;
   }
   .mrfone-style__bg-text {
    font-size: 100px;
    top: 485px;
    left: -35px;
   }
   .mrfone-fonts__title {
     margin-left: 0;
     padding-left: 88px;
   }
   .mrfone-fonts__title-number {
    width: 44px;
    height: 48px;
    font-size: 16px;
   }
   .mrfone-fonts__title-text {
    font-size: 28px;
    padding-bottom: 0;
   }
   .mrfone-fonts__title-sub {
    font-size: 14px;
   }
   p.mrfone-fonts__number  {
     padding-right: 0;
     font-size: 14px;
   }
   .mrfone-fonts__example {
     padding: 0;
   }
   .mrfone-fonts__example-text {
    font-size: 16px;
    line-height: 32px;
   }
   .mrfone-fonts__helvetica {
     margin-top: 58px;
     margin-bottom: 60px;
   }
   .mrfone-fonts__helvetica p.mrfone-fonts__number {
     margin-top: 37px;
     margin-bottom: 109px;
   }
   .mrfone-fonts__colors-text {
    font-size: 100px;
    font-weight: 400;
    color: #072438;
    bottom: 240px;
    right: -130px;
   }
   .mrfone-fonts__colors-pic {
     width: 100%;
   }
   .mrfone-fonts__colors {
    margin-top: 29px;
   }
   .mrfone-end__text {
     padding-top: 46px;
   }
   .mrfone-end__title {
    font-size: 32px;
    padding: 0 50px;
   }
   .mrfone-end__pic {
     width: 100%;
     margin-top: 0;
     margin-left: 0;
   }
   .mrfone-end__webit {
    width: 286px;
   }
   .mrfone-end__rhmb {
    width: 220px;
    height: auto;
    top: 138px;
   }
   .mrfone-end__pic {
    width: 250px;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 31px;
    margin-left: 32px;
   }
   .mrfone-end__right-hand {
    width: 91px;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    right: 15px;
   }
   .mrfone-end__left-hand {
    width: 117px;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    left: 10px;
   }
   .mrfone-gal__calendar {
    border-radius: 5px;
    overflow: hidden;
   }

}
/* Mobile */